body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: blue;
  color: white;
  padding: 20px;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
}

footer {
  background: black;
  color: white;
  padding: 10px;
}